################################################################
# Global configuration
################################################################
logLevel = "DEBUG"

# Entrypoints to be used by frontends that do not specify any entrypoint.
# Each frontend can specify its own entrypoints.
defaultEntryPoints = ["http", "https"]

[entryPoints]
  [entryPoints.http]
  address = ":80"
  [entryPoints.http.redirect]
    entryPoint = "https"
  [entryPoints.https]
  address = ":443"
    # [entryPoints.https.tls]
    #   [[entryPoints.https.tls.certificates]]
    #   certFile = "/ssl/nua.media.crt"
    #   keyFile = "/ssl/nua.media.key"
    #   [[entryPoints.https.tls.certificates]]
    #   certFile = "/ssl/www.nua.media.crt"
    #   keyFile = "/ssl/www.nua.media.key"

################################################################
# ACME (Let's Encrypt): automatic SSL
################################################################
[acme]
email = "admin@somers.co"
storage = "etc/traefik/acme.json"
# used for staging
caServer = "https://acme-staging-v02.api.letsencrypt.org/directory"
acmeLogging = true
onDemand = false
OnHostRule = false
entryPoint = "https"

# [acme.dnsChallenge]
# provider = "route53" # DNS Provider name (cloudflare, OVH, gandi...)
# delayBeforeCheck = 0
#
# [[acme.domains]]
#   main = "*.nua.media"

################################################################
# Web configuration backend
################################################################
# [web]
#
# address = ":8080"
#   [web.auth.basic]
#   users = ["admin:$apr1$BpTrStyg$/Mi6lMRwn8ITinXi/BqjS/"]

################################################################
# Docker configuration backend
################################################################
[docker]

# Docker server endpoint. Can be a tcp or a unix socket endpoint.
endpoint = "unix:///var/run/docker.sock"

# Default domain used.
# Can be overridden by setting the "traefik.domain" label on a container.
domain = "docker.localhost"

# Enable watch docker changes
watch = true
exposedByDefault = true
usebindportip = true

################################################################
# Web configuration backend
################################################################

# Enable web configuration backend


################################################################
# Docker configuration backend
################################################################

[frontends]
  [frontends.frontend1]
  backend = "tremage"
    [frontends.frontend1.routes.test_1]
    rule = "Host:www.tremage.com,tremage.com"
[frontends.frontend2]
  backend = "c2ostudio"
    [frontends.frontend2.routes.test_2]
    rule = "Host:www.c2o.studio,c2o.studio"
